/* Home */
html {
    --black: #000;
    --gray: #707070;
    --light-gray: #E3E3E3;
    scroll-behavior: smooth;
}

header {
    display: flex;
    margin-bottom: 5rem;
    margin-top: 3rem;
    list-style: none;
    text-decoration: none;
}

a {
  color: #000;
  text-decoration: none;
  background-image: linear-gradient(#000,#A37C40), linear-gradient(#ccc,#ccc);
  background-position: 0% 100%, 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px, 100% 1px;
  transition: background-size .3s;
}

a:hover, a:focus {
  background-size: 100% 2px, 100% 1px;
}

.container-2 {
  padding-bottom: 6rem;
}

h2 {
    color: var(--gray);
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 3rem;
    text-decoration: none;
}

h4 {
    color: var(--gray);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

a {
  text-decoration: none;
}

.project-number {
  color: var(--gray);
  font-size: 14px;
  margin-right: 3rem;
  text-decoration: none;
}

a:hover .project-names {
  color: black;
  text-decoration: underline;
}

.nav-links {
    margin-left: auto;
    color: var(--gray)

}

.wrapper {
  margin: 3rem;
}

body {
    font-family: "Montserrat", sans-serif;
    color:var(--black);
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
  }

.intro {
    margin-bottom: 4rem;
}

.footer {
    background-color: #E3E3E3;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    width: 100%;
  }

img {
  border:1px solid #E3E3E3;
}

.top-image {
  margin-bottom: 2rem;
}

.wireframe-sketches {
    padding-top: 2rem;   
}

.digital-sketches {
    padding-top: 1rem;
}

/* Near Eden Styling */
.Near-Eden-Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 7rem;
}

.scroll {
  border: none;
  font-size: 10px; 
}

.scroll-side {
  border: none;
  font-size: 10px;
  float: right;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.descriptions {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/* Localist Coffee Styling */
.Localist-Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 2rem;
}

.Localist-Grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

.horizontal-container {
  display: flex;
  overflow: scroll;
}

.box {
  border: --light-gray;
  margin-right: 1rem;
  min-width: 300px;
}

.text {
  padding: 1rem;
}

.titles-localist {
  padding-top: 1rem;
}


/* Horizontal scroll */

* {
  box-sizing: border-box;
}

.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex; 
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.author-info a {
  color: white;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.slider > a:active {
  top: 1px;
}

.slider > a:focus {
  background: #000;
}

/* Earthly Styling */
.earthly-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 3rem;
}

.earthly-paragraph {
    padding-bottom: 1rem;
}

.earthly-title {
    padding-top: 3rem;
}

/* Charlie's Cafe Styling */